In [1]:
import pymysql

#登入資料庫
db = pymysql.connect(host='cc104.rds.local', port=3306, user='root', passwd='p@ssw0rd', db='', charset='utf8')

In [2]:
# 使用 cursor() 方法創建一個游標對象 cursor
cursor = db.cursor()

# 使用 execute()  方法執行 SQL 查詢
cursor.execute("SELECT VERSION()")


# 使用 fetchone() 方法取得第一條紀錄.
data = cursor.fetchone()

#顯示版本
print ("Database version : %s " % data)

Database version : 10.3.12-MariaDB-1:10.3.12+maria~bionic

In [3]:
#若mission10資料庫存在就刪除
cursor.execute("drop database if exists mission10")
#建立mission10資料庫
cursor.execute("CREATE DATABASE mission10")

cursor.execute("SHOW DATABASES")

#顯示資料庫
for x in cursor:
  print(x)

('information_schema',)
('mission10',)
('mysql',)
('performance_schema',)

/opt/conda/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1008, "Can't drop database 'mission10'; database doesn't exist")
  result = self._query(query)

In [ ]:
"""
CREATE TABLE table_name (
  column_name1 data_type,
  column_name2 data_type,
  column_name3 data_type,
  ···
);

char (M) 必須指定欄位大小，資料不足時以空白字元填滿
"""

In [126]:
#使用mission10 資料庫
cursor.execute("use mission10")

0

In [127]:

#創建資料表取名為Class
sql = """CREATE TABLE Class (
        ID          int         NOT NULL AUTO_INCREMENT PRIMARY KEY,   #自動編號，由0開始以1累加，將ID欄位設成主鍵
        Name        varchar(20) NOT NULL,                #不會超過10個字 = 不會超過 20Bytes
        Telephone   varchar(20) NOT NULL,                #電話設定20字元
        Age         int)
"""

cursor.execute(sql)

0

In [128]:
#在Class資料表插入資料

sql = 'INSERT INTO Class values(%s,%s,%s,%s)'

param= {(1,'Ian', '0987654321', 24), 
        (2,'Rex', '0912345678', 20), 
        (3,'Ash', '0988776655', 18)}
        
cursor.executemany(sql,param)

3

In [129]:
#提交語句到資料庫
db.commit()
#選select Class資料表資料
cursor.execute('select * from Class')

3

In [130]:
#返回多條紀錄(rows),如果没有结果,則返回 ()
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'Ian', '0987654321', 24)
(2, 'Rex', '0912345678', 20)
(3, 'Ash', '0988776655', 18)

In [131]:
#結束連線
db.close()